{% extends "base.html" %}
{% block title %}{{ post.title }} - Anime Blog{% endblock %}

{% block content %}
  <article>
    <h2>🎬 {{ post.title }}</h2>
    <p><small>Postado em {{ post.posted_at|date:"d/m/Y H:i" }}</small></p>

    <div>
      {{ post.content|safe }}
    </div>

    <p>
      <a href="{% url 'post_update' post.pk %}">✏️ Editar</a> |
      <a href="{% url 'post_delete' post.pk %}">🗑️ Remover</a> |
      <a href="{% url 'post_list' %}">⬅️ Voltar</a>
    </p>
  </article>
{% endblock %}