{% extends "base.html" %}
{% block title %}{{ post.title }} - Anime Blog{% endblock %}

{% block content %}

  <article>
    <h2>🎬 {{ post.title }}</h2>
    <p><small>Postado em {{ post.posted_at|date:"d/m/Y H:i" }}</small></p>

    <p><strong>Categorias:</strong>
      {% for category in post.categories.all %}
        <a href="{% url 'category_detail' category.pk %}">{{ category.name }}</a>
        {% if not forloop.last %}, {% endif %}
      {% empty %}
        Nenhuma categoria.
      {% endfor %}
    </p>

    <div>
      {{ post.content|safe }}
    </div>

    <p>
      <a href="{% url 'post_update' post.pk %}">✏️ Editar</a> |
      <a href="{% url 'post_delete' post.pk %}">🗑️ Remover</a> |
      <a href="{% url 'post_list' %}">⬅️ Voltar</a>
    </p>
  </article>

<h3>💬 Comentários</h3>

{% for comment in comments %}
    <div class="post">
        <p><strong>{{ comment.author }}:</strong></p>
        <p>{{ comment.text }}</p>
        <p class="data">{{ comment.date_posted|date:"d/m/Y H:i" }}</p>
    </div>
{% empty %}
    <p>Não há comentários ainda.</p>
{% endfor %}

<br>
<a class="btn" href="{% url 'add_comment' post.pk %}">Adicionar comentário</a>

{% endblock %}